.login-background{
  background-image: url('../../../assets/login.jpg');
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  overflow-x: hidden !important;
}
