<div >
  <div id="sideNav" mode="side" opened="true" class="d-flex routes-sideBar wrapper doNotPrint"
  [ngStyle]="isOpened?{'width':'100px'}:{'width':'50px'}">
    <div class="pt-2">
      <mat-nav-list>
        <li class="d-flex menu-Bar pb-2" [ngStyle]="isOpened?{'justify-content':'flex-end'}:null" >
          <img placement="right" [ngbTooltip]="isOpened ? 'Collapse' : 'Expand'" (click)="openNav()" #expand
            (mouseenter)="expandPopoverdisable()" class="menu-icon"
            [src]="isOpened?'../../../assets/icons/Collapse Nvabar icon.png':'../../../../assets/icons/Expand Navbar icon.png'"
            alt="" [ngClass]="!isOpened?'menuicon':'menubar'">
        </li>
        <!-- triggers="mouseenter:blur" -->
        <div>
          <a *ngIf="!isOpened" >
            <img src="../../../assets/icons/home.png" height="20px" width="20px">
          </a>
          <a *ngIf="isOpened" >
            <img src="../../../assets/icons/home.png" height="20px" width="20px"><span class="px-2">Home</span>
          </a>
        </div><br>
        <div class="pt-2">
          <a *ngIf="!isOpened" >
            <img src="../../../assets/icons/profile.jpg" height="20px" width="20px">
          </a>
          <a *ngIf="isOpened" >
            <img src="../../../assets/icons/profile.jpg" height="20px" width="20px"><span class="px-2">Profile</span>
          </a>
        </div>
        <div class="pt-4">
          <a *ngIf="!isOpened" >
            <img src="../../../assets/icons/setting.png" height="25px" width="25px">
          </a>
          <a *ngIf="isOpened" >
            <img src="../../../assets/icons/setting.png" height="25px" width="25px"><span class="px-2">settings</span>
          </a>
        </div>
      </mat-nav-list>
    </div>
  </div>
</div>
